.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar {
  padding: 16px 16px 0;
}

.navbar a {
  color: white;
  text-decoration: none;
  transition-duration: 0.5s;
  margin: 0 0 16px 0;
  vertical-align: middle;
}

.navbar a:hover {
  color: #1EDD88;
}
